body {
    padding:2rem 0;
    background-color: #EAEAEA;
    font-family: sans-serif;

}

.demo {
    text-align:center;
    margin-bottom:2rem;
}

.explanation {
    background-color:#FFF;
    padding: 2rem;
    box-shadow:0 0 24px rgba(0,0,0,0.07);
}

.placeholder {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:300px;
    padding:2rem;
    text-align:center;
    background-color:#BFBFBF;
    color:#2A2A2A;
}

.placeholder__caption {
    font-weight:bold;
    font-size:1.5rem;
    margin-bottom:1rem;
}

figcaption {
    padding:.5rem 0;
    font-style:italic;
}

img, video {
    max-width:100%;
    height:auto;
}
