<h1>Connection Aware Ember Component</h1>
<div class="container">
  <div class="demo">
    {{connection-aware-media
      highResImage=highResImage
      lowResImage=lowResImage
      oggVideo=oggVideo
      webmVideo=webmVideo
      alt="Tomster The Ember Mascot"
      autoUpdate=true
    }}
  </div>
  <div class="explanation">
    <p>
      The above Ember component will render different elements
      based on the user's connection quality:
    </p>
    <ul>
      <li>offline: placeholder with alt text</li>
      <li>2g: low resolution image</li>
      <li>3g: high resolution image</li>
      <li>4g: video player</li>
    </ul>
    <figure>
      <img
        src="https://raw.githubusercontent.com/rajasegar/connection-aware-ember/master/public/assets/img/network.png"
        alt="chrome devtools network tab"
      />
      <figcaption>Try setting different connection speeds in Chrome Devtools > Network tab</figcaption>
    </figure>
    <p>
      It uses the <a href="https://wicg.github.io/netinfo/">Network Information API</a>,
      which currently is <a href="https://caniuse.com/#search=Network%20Information%20API">only supported in Chrome</a>. Read more about this <a href="https://hangaroundtheweb.com/">on my blog</a>.
    </p>
  </div>
</div>
